@import "attractions/var-defaults.scss";

$font: "Poppins";
$main: #dc9509;

$snackbar-vertical-offset: 3em; // change this to be higher than the bottom nav height, or topbar height depending on the chosen position of top or bottom
